form{
    margin-top: 7.2vh;
    margin-right: 1vw;
}

#search-title {
    font-weight: 600;
    padding: 1vh 0vw 1vh 0vw;
    
}
#search_phrase {
    width: 10vw;
    height: 2.5vh;
    font-family: sans-serif;
}

.search-by-option{
    margin-top:1vh;
}
.submit-button {
    height: 3vh;
    width: 8vw;
    margin-top:2vh;
    font-size:1.75vh;
}

/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;
    border: thin solid;
    border-color: #808080;
    margin-left: 1vw;
}

td {
    border: 0.5px solid #edeef0;
    border-spacing:0;
    padding:1vh 0vw 1vh 0.5vw;

}

th {
    padding: 1vh 0vw 1vh 0.5vw;
}

thead {
    border: 0.5px solid #c3c3cb;
    background-color: rgb(241, 244, 248);
    
}*/
